<div class="container">
<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

  <%# <div class="row"> %>

      <p>My email <%=  current_user.email %></p>
      <p>my firstname <%=  current_user.first_name %></p>
      <p>my lastname <%=  current_user.last_name %></p>
      <p>my address <%=  current_user.address %></p>
      <p>my age <%=  current_user.age %></p>
      <p>my introduction <%=  current_user.introduction %></p>
      <p><%=  current_user.granny %></p>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag(current_user.photo.key, :width => 200, :crop => "pad") %>
      <% end %>
      <% if current_user.first_name %>
        <%= link_to 'Edit your profile', edit_profile_path(@user), class: "btn btn-success" %>
      <% else%>
        <%= link_to 'Complete your profile', edit_profile_path(@user), class: "btn btn-primary" %>
      <% end %>

</div>
