<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/7329688/pexels-photo-7329688.jpeg?auto=compress&cs=tinysrgb&w=1200)">
    Check out our lovely grannies
  </div>
</div>

<div class="container">
  <div class="row">
    <% @granny_offers.each do |granny_offer|%>
      <div class="col-4">
        <%= link_to granny_offer_path(granny_offer) do %>
          <div class="card-product">
            <% if granny_offer.user.photo.attached? %>
              <%= cl_image_tag granny_offer.user.photo.key %>
            <% end %>
            <div class="card-product-infos">
              <h2><%= granny_offer.user.first_name %></h2>
              <h3> <%= granny_offer.user.address %></h3>
              <p> <%= granny_offer.user.introduction %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
