<div class="container p-20">
      <div class="bg-white rounded p-3 shadow">

        <h3>CREATE A NEW OFFER</h3>
        <%= simple_form_for @granny_offer do |f| %>
        <h4> WHAT WOULD YOU LIKE TO OFFER? </h4>
        <p> For example: </p>
        <p> - I can come once a week and read some childrensbook with the kids</p>
        <p> - I`m an excellent knidding teacher </p>
        <p> - Would love to go to waterskiing with your teens</p>
          <%= f.input :details, as: :text %>
        <h4> HOW MANY HUGS WOULD YOU LIKE TO RECEIVE? </h4>
          <%= f.input :hug_amount %>
         <h4> ANYTHING ELSE? </h4>
          <%= f.input :additional, as: :text %>
          <%= f.submit "CREATE OFFER", class: 'btn btn-primary' %>
        <% end %>
      </div>
</div>
