<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="card-profile">
      <div class="p-5">
        <% if @granny_offer&.user&.photo&.attached? %>
          <%= cl_image_tag(@granny_offer.user.photo.key, :crop => "pad", :class => "img_profile") %>
        <% end %>

        <h3>Name: <%= @granny_offer&.user&.first_name&.capitalize %> </h3>
        <h3>Address: <%= @granny_offer&.user&.address&.capitalize %> </h3>

        <h3>Description:</h3>
        <p><%= @granny_offer&.user&.introduction %></p>

        <h3>Offer:</h3>
          <%= @granny_offer&.details %>
        <h3>Hug amounts: <%= @granny_offer&.hug_amount%></h3>

        <%# link_to 'Got to my profile', profile_path, class: 'btn btn-primary' %>
        <% if @granny_offer&.available %>
          <%= simple_form_for([@granny_offer, @booking]) do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit "BOOK #{@granny_offer&.user&.first_name&.capitalize}'S OFFER"%>
          <% end %>
        <% else %>
          <p class= 'btn btn-primary' >"NOT AVAILABLE"</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
