# booking form in this file
          # @user.photo
          # @user.first_name
          # @user.location
          # @user.introduction

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @user.photo %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td><%= @user.first_name %></td>
          </tr>
          <tr>
            <th scope="row">Available</th>
            <td><%= @user.availability %></td>
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td><%= @user.location%></td>
          </tr>
          <tr>
            <th scope="row">Introduction</th>
            <td><%= @user.introduction %></td>
          </tr>
          <tr>
            <th scope="row">Details</th>
            <td><%= @user.details %></td>
          </tr>
        </tbody>
      </table>
