<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="card-profile">
      <div class="p-5">
        <% if @granny_offer&.user.photo.attached? %>
          <%= cl_image_tag(@granny_offer.user.photo.key, :crop => "pad", :class => "img_granny") %>
        <% end %>

        <h3><strong>Name: </strong><%= @granny_offer.user.first_name.capitalize %> <%= @granny_offer.user.last_name.capitalize %></h3>
        <h3><strong>Address: </strong><%= @granny_offer.user.address.capitalize %> </h3>

        <h3><strong>Description:</strong></h3>
        <p><%= @granny_offer.user.introduction %></p>

        <h3><strong>Offer:</strong></h3>
          <%= @granny_offer.details %>
        <h3><strong>Hug amounts: </strong><%= @granny_offer.hug_amount%></h3>

        <%= link_to 'Got to my profile', profile_path, class: 'btn btn-primary' %>
        <% if @granny_offer&.available %>
          <%= simple_form_for([@granny_offer, @booking]) do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit "BOOK #{@granny_offer.user.first_name.capitalize}'S OFFER"%>
          <% end %>
        <% else %>
          <%# <p class='btn btn-primary'> "NOT AVAILABLE"</p> %>
          <%# <p class='btn btn-primary'> "got to profile"</p> %>
        <% end %>
      </div>
    </div>
  </div>
</div>
